.main {
  background-color: rgba(35, 37, 38, 1);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100vw;
  color: #ffffff;
}

.countItems {
  font-size: 0.8rem;
}

.button {
  background-color: rgba(248, 102, 0, 1);
  border-radius: 40px;
  padding: 0.8rem;
}

@media (min-width: 700px) {
  .main {
    position: fixed;
    top: 10vh;
    right: 10vh;
    width: 9rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
  }
}
