.container {
  padding: 1rem;
}
.header {
  font-size: 2rem; /*1rem=16px*/
  color: #f86600;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.text {
  font-size: 1rem;
  color: #ffffff;
  line-height: 0.3;
}

@media (min-width: 375px) {
  .container {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
}
