.container {
  padding-left: 20rem;
  color: #ffffff;
}

.h1 {
  font-size: 1.75rem;
}

.measures {
  font-size: 1rem;
  display: flex;
  margin-bottom: 1rem;
}

.measureskm {
  padding-right: 1rem;
  position: relative;
}

.measureskm:after {
  content: "";
  background-color: #ffffff;
  width: 2px;
  height: 0.8rem;
  right: 0.4rem;
  position: absolute;
  margin-top: 0.4rem;
}

.activemeasure {
  font-weight: 600;
  text-decoration: underline;
}

.date {
  font-size: 1.625rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.info {
  display: flex;
  font-size: 1rem;
}

.distance {
  position: relative;
}

.line {
  content: "";
  position: absolute;
  top: 2rem;
  left: 4%;
  width: 94%;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
}

.line:before {
  content: "";
  position: absolute;
  left: -3%;
  top: -0.2rem;
  border-style: solid;
  border-width: 4px 5px 4px 0;
  border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
}

.line:after {
  content: "";
  position: absolute;
  left: 100%;
  top: -0.2rem;
  border-style: solid;
  border-width: 4px 0 4px 5px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
}

.asteroidImg {
  margin: 0 0.5rem 0 0.5rem;
  display: flex;
  justify-self: center;
}

.name {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
}

.diameter {
  font-size: 0.75rem;
  display: flex;
}

.diameterSymbol {
  padding-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.buttons {
  display: flex;
}

.button {
  background-color: rgba(248, 102, 0, 0.15);
  border-radius: 1rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 5px;
  margin-right: 1rem;
  border: none;
  color: rgba(248, 102, 0, 1);
}

.button:hover {
  cursor: pointer;
}

.buttonChosen {
  opacity: 15%;
  color: #ffffff;
}

.dangerousasteroid {
  display: flex;
}

.bottom {
  margin-bottom: 1rem;
}

.copyright {
  color: #ffffff;
  bottom: 0;
  position: fixed;
  padding: 1rem;
}

@media (max-width: 600px) {
  .container {
    margin: 0;
    display: block;
    padding-left: 10vw;
  }
}
